#UE03 - SPARQL Query

Please complete the 10 tasks in the `2. SPARQL` sheet of `SemAI.jar` first, and then transfer the task descriptions and your solutiosn in executable form to this notebook.

## Preparation

Reuse imports and functions from https://github.com/jku-win-dke/SemAI/blob/main/V02_SPARQL.ipynb and load the solar system graph. Query the solar system graph to check that everything works fine.

In [ ]:
# Install required packages
!pip install -q rdflib

# Imports
import pandas as pd
from rdflib import Graph, Literal, RDF, URIRef, BNode, Namespace
from rdflib.namespace import FOAF , XSD , RDFS, NamespaceManager 

# Convenient Functions
def sparql_select(graph,query,use_prefixes=True):
  results = graph.query(query)          # execute the query against the graph, resulting in a rdflib.plugins.sparql.processor.SPARQLResult
  rows = []                             # a list of dictionaries, as intermediate format to construct the pandas DataFrame
  for result in results:                # iterate over the result set of the query, a result is an instance of rdflib.query.ResultRow
    row = {}                            #     create a dictionary to hold a single row of the result
    for var in results.vars:            #     iterate over the variables of the SPARQLResult to add a dictionary entry for each variable
      if (isinstance(result[var],URIRef) and use_prefixes):
        row[var] = result[var].n3(graph.namespace_manager)   # use namespace prefixes to shorten URIs
      else:
        row[var] = result[var]                  
    rows.append(row)                    #     add the dictionary (row) to the list 
  return pd.DataFrame(rows,columns=results.vars)        
                                        # return a pandas DataFrame constructed from the list of dictionaries, with the variables from the result set as columns      

def sparql_construct(graph, query):
  result_graph = Graph(namespace_manager = g.namespace_manager)  # create a Graph object that reuses the namespace prefixes of the original graph
  result_graph += graph.query(query)                             # execute the construct query against the original graph and add the resulting graph to the new one
  return result_graph

def sparql_ask(graph, query):
  return bool(graph.query(query))      # an ASK query has a boolean result, which should be returned as such

# Load solar system graph
g = Graph()
g.parse("https://raw.githubusercontent.com/jku-win-dke/SemAI/main/data/solarsystem.ttl",format="turtle")

# Query solar system graph (to check that everything works fine)
df = sparql_select(g,"""
  SELECT ?planet ?apoapsis ?apoapsis_uom
  WHERE { 
    ?planet rdf:type dbo:Planet . 
    OPTIONAL { ?planet v:apoapsis [rdf:value ?apoapsis ; v:uom ?apoapsis_uom ].  }
  }
""")
df


## Task 1 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT ?d ?match
WHERE { 
?d a dbo:DwarfPlanet .
Optional { ?d skos:exactMatch ?match}
}
ORDER BY ?p 

""")
df

## Task 2 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT ?star ?match ?massVal ?massUoM
WHERE { 
?star a dbo:Star ;
skos:exactMatch ?match ;
v:mass [
rdf:value ?massVal ;
v:uom ?massUoM ;
] .
 }
ORDER BY ?star

""")
df

## Task 3 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT ?planet ?assertedNo (COUNT(?moon) AS ?noOfDescribedMoons)
WHERE { 
  ?planet a dbo:Planet ;
  v:nrOfMoons ?assertedNo .
  OPTIONAL {
  ?moon v:orbits ?planet .
  }
}
GROUP BY ?planet
ORDER BY ?planet
""")
df

## Task 4 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT (avg(COALESCE(?noOfDescribedMoons, 0)) as ?avgNoOfDescribedMoons)
WHERE { 
?planet a dbo:Planet ;
Optional{
  Select ?planet (count(?moon) as ?noOfDescribedMoons)
  Where {
    ?moon v:orbits ?planet .
  }
  Group By ?planet
}
}""")
df

## Task 5 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT ?class (count(?class) as ?noOfInstances)

WHERE { 
  ?x a ?class .
} Group By ?class 
Having (count(?class) > 2)
ORDER BY ?class
""")
df

## Task 6 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT ?class ?prop (COUNT(DISTINCT ?x) AS ?noOfInstances)
WHERE {
?x a ?class;
?prop ?y .
} 
GROUP BY ?class ?prop
Having ( COUNT(DISTINCT ?x) >= 7 )
ORDER BY ?class ?prop""")
df

## Task 7 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_select(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

SELECT ?x ?y
WHERE { 
{
?x a dbo:Star .
}
UNION
{
?x a dbo:Satellite .
}
OPTIONAL{?x v:orbits ?y}
}
ORDER BY ?x
""")
df

## Task 8 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_construct(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

CONSTRUCT {
?y rdf:type v:Himmelskoerper .
?x v:wirdUmrundetVon ?y }
WHERE {
?y v:orbits ?x .
FILTER NOT EXISTS {?y a dbo:DwarfPlanet}
}
""")
print(df.serialize(format='turtle'))

## Task 9 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_ask(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

ASK {
{?stern a dbo:Star;
v:mass [
rdf:value ?mass ;
v:uom v:SolarMass;]}
UNION
{?stern a dbo:Star;
v:mass [
rdf:value ?x ;
v:uom unit:KM]
BIND ((?x / 1.9884E30) as ?mas)}

FILTER( ?mass > 0.9986 )
}
""")
df

## Task 10 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
df = sparql_construct(g, """
base         <http://dke.jku.at/example/>
prefix :     <http://dke.jku.at/example/solarsystem/>
prefix v:    <http://dke.jku.at/example/examplevocabulary/>
prefix rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix dbr:  <http://dbpedia.org/resource/>
prefix dbo:  <http://dbpedia.org/ontology/>
prefix dbd:	 <http://dbpedia.org/datatype/>
prefix sdo:  <http://schema.org/>
prefix wd:   <http://www.wikidata.org/entity/>
prefix wdp:  <http://www.wikidata.org/prop/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
prefix unit: <http://qudt.org/vocab/unit/>
prefix owl:  <http://www.w3.org/2002/07/owl#>

DESCRIBE ?o
WHERE {
{
?o v:radius [
rdf:value ?rad;
v:uom unit:KM;
]}
UNION
{
?o v:radius [
rdf:value ?x;
v:uom v:SolarRadius;
]
BIND((?x * 695700) as ?rad)}
FILTER(?rad < 30000 && ?rad > 20000)
}
""")
print(df.serialize(format='turtle'))